{% extends "shop/base.html" %}
{% load static %}

{% block title %}
Tea in Sicily
{% endblock title %}

  {% block content %}
<div class="container-fluid padding">
  <div class="row">
  {% for t in tea %}
    <div class="col-lg-3 col-md-4 col-sm-6">

        <div class="card" style="background-color: transparent">
          <div class="tea"{{ tea.get_absolute_url }}><img src="{{ t.image.url }}" class="card-img-top" style="width:200px;"></div>
          <div class="card-body" style="background-color: transparent">
            <h4 class="card-title">
             <div class="name"{{ tea.get_absolute_url }}>{{ t.name }}</div>
            </h4>
              <h4><p class="price">${{ t.price }}</p></h4>
            <p class="card-text">{{ t.description }}</p>
          </div>
        </div>
        <br>

      <br>
    </div>
    <br>
    <br>
  {% endfor %}
  </div>
<br>
</div>
 {% endblock %}
